.DS_Store
/frontend/node_modules/
/frontend/dist/
/backend/server/__pycache__
/backend/server/migrations
/backend-sql/backup
/backend-sql/env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
